<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788536548988-dm79og29vcdiipem4ordj4q3hb3j4hpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788536548988-dm79og29vcdiipem4ordj4q3hb3j4hpe</string>
	<key>API_KEY</key>
	<string>AIzaSyBL7WOKx000ZqzGhsKewyL-wpBd7-sQae0</string>
	<key>GCM_SENDER_ID</key>
	<string>788536548988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unitrail</string>
	<key>PROJECT_ID</key>
	<string>unitrail-db9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>unitrail-db9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788536548988:ios:ba3c654e22becb1f3db3f9</string>
</dict>
</plist>